h1{
    margin: 4px 2px;
    left:100px;
}
form {
    width: 90vw;
}
input {
    border: 1px solid;
    padding: 0.3em;
    min-height: 25px;
    border-radius: 10px;
}

textarea {
    min-height: 6em;
}

label {
    display: block;
    font-size: 1.2rem;
    margin-top: 1rem;
}

select {
    font-size: 16px;
}

postalCode {
    width: 50%;
}
.flex-container-hor{
    display: flex;
}
.flex-container-hor> div {
    padding: 10px;
    font-size: 30px;
  }
.button{
    background-color: #04AA6D;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 300px;
    cursor: pointer;
    border-radius: 10px;
}
.title{
    margin: 4px 200px;
}