
body
{
    overflow: hidden;
    background-image: linear-gradient(to right, rgba(255, 0, 0, 0), rgb(119, 246, 87));
}

.road-container
{
    position: absolute;
    width: 100vw;
    bottom: 0;
    height: 130px;
    z-index: -1;
}

#road-rectangle {
    position: relative;
    width: 100%;
    height: 70px;
    margin: 0%;
    background-color: black;
}

#road-dashed-line {
    position: relative;
    bottom: 0%;
    width: 100%;
    height: 72px;
    margin: 0%;
    background-color: black;
    border-top: dashed white 3px;
}

#rectangle {
    height: 150px;
    width: 200px;
    position: relative;
    bottom: 240px;
    left: 0;
    animation-name: drive;
    animation-duration: 10s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    background-image: url("truck.png");
    background-size: cover;
}

@keyframes drive {
    from {
        left: 0%;
    }

    to {
        left: 100%;
    }
}